.hero {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    position: relative;
    background: rgb(71,170,227);
    background: linear-gradient(90deg, rgba(71,170,227,1) 0%, rgba(50,159,226,1) 100%);
    overflow: hidden;
}

.hero__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    padding-top: 0;
}

.hero__content-left {
    width: 100%;
    padding-bottom: 1em;
    z-index: 2;
}

.hero__content-left p {
    font-size: 1.5rem;
    line-height: 130%;
}

.hero__heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.hero__heading .hero__heading-right {
    display: flex;
    flex-direction: column;
}

.hero__heading-right span:first-child,
.hero__heading-right span:last-child {
    opacity: .5;
}

.hero__heading h1 {
    margin: 0;
    line-height: .9;
    /* font-size: 2.2em; */
    font-size: 11.7vw;
}

@media screen and (min-width: 750px) {
    .hero__content-left {
        padding-bottom: 70px;
    }

    .hero__content-left p {
        font-size: 2.15rem;
        line-height: 130%;
    }

    .hero__content {
        flex-direction: row;
    }

    .hero__heading h1 {
        font-size: 4.5rem;
    }

    .hero__content-left {
        width: 50%;
        max-width: 788px;
    }
}

@media screen and (min-width: 960px) {
    .hero__heading h1 {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1350px) {
    .hero__heading {
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    .hero__heading h1 {
        font-size: 8rem;
    }

    .hero__content-left {
        width: 100%;
        max-width: 788px;
        margin-top: 3rem;
    }
}

.hero__heading span {
    white-space: nowrap;
}

.hero .button {
    background-color: var(--gradient-base-accent-2);
    color: rgb(var(--color-base-text));
    font-family: 'retrips';
    font-size: 1.8rem;
    margin-top: 1rem;
    --color-button: var(--color-base-accent-2);
}

.hero .button span {
    position: relative;
    top: 2px;
}

.hero__image {
    display: none;
}

@media screen and (min-width: 750px) {
    .hero__image {
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: auto;
    }

    .hero__image > img {
        object-fit: cover;
        display: block;
        height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    .hero__image {
        right: -100px;
    }
}
